.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f7fb;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}