<section class="side-nav">
    <nav>
        <div class="route" [routerLink]="['/']" [class.isClicked]="path === '/'">
            <img src="assets/img/home.svg" alt="">
            <a>Home</a>
        </div>
        <div class="route" [class.isClicked]="path === '/contact'" [routerLink]="['/contact']">
            <img src="assets/img/contacts.svg" alt="">
            <a>Contact</a>
        </div>
        <div class="route" [routerLink]="['/stats']" [class.isClicked]="path === '/stats'">
            <img src="assets/img/stats.svg" alt="">
            <a>Stats</a>
        </div>
        <div class="route" [routerLink]="['/signup']" [class.isClicked]="path === '/signup'">
            <img src="../../../assets/img/login.svg" alt="">
            <a to="/signup">Log in</a>
        </div>
        <!-- <div class="route">
            <a to="/about">About</a>
        </div> -->

    </nav>
</section>