<article class="flex">
    <div class="contact-name">
        {{ contact.name }}
    </div>
    <div class="contact-email">
        {{ contact.email }}
    </div>
    <div class="contact-phone">
        {{ contact.phone }}
    </div>
    <div class="option-img" (click)="toogleModal()">
        <img src="../../../assets/img/dots.png" alt="" />
        <div class="modal" *ngIf="isOptionOpen">
            <a [routerLink]="['/contact', contact._id]">
                <button class="modal-option">Details</button>
            </a>
            <a (click)="onEditContact($event)">
                <button class="modal-option">Edit</button>
            </a>
            <button class="modal-option remove" (click)="onRemoveContact($event)">
                Remove
            </button>
        </div>
    </div>
</article>